body {
    background-color: #172358;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


header {
    background: linear-gradient(90deg, rgba(26,148,171,1) 20%, rgba(26,64,175,1) 53%, rgba(26,148,171,1) 97%);
    color: c5f1fc;
    padding: 15px;
    text-align: center;
}

header .logo img {

    height:200px;
    width:auto;
}

nav ul {

    list-style: none;
    margin: 50px;
    padding: 20px;
    display:flex;
    justify-content: center;
    background-color: rgba(211, 27, 211, 0.40);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

nav ul li {

    display: inline-block;
    margin: 10px 0;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
}

nav ul li a {

    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    color: #e8ecec;
    margin: 0 10px;
    padding: 10px 25px;
    position: relative;
    transition: 0.25 ease-in-out; 
}

nav ul li a:hover {

    background: #9755ef;
    box-shadow: 
        0 00 10px #9755ef,
        0 00 20px #9755ef,
        0 00 40px #9755ef,
        0 00 80px #9755ef,
        0 00 100px #9755ef;
    transition: 0.25 ease-in-out;

}



#characters {

    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#characters h1 {

    text-align:center;
    color:aliceblue;
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.bio-card {

    background-color:  #284d9d;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border: 10px solid #9755ef;
    border-radius: 5px;
    padding: 20px;
    display:flex;
    align-items:center;

}

.bio-card h2, h1 {

    color:aqua;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.character-image {

    width: 400px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
   
}

.bio-text {

    color:aliceblue;
    font-family: "Source Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    flex-grow: 1;
    padding-left: 20px;
    max-width: 700px;
    margin-top: 10px;
}

.bio-text i {

    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;


}

.assistant-note {

    color:#87e1f5;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    flex-grow: 1;
    padding-left: 20px;
    max-width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
