@media (max-width: 768px) {

   
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
       }

      
   

    nav ul {

        padding: 10px;
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li {

        margin: 5px 0;
        font-size: 24px;
    }

    nav ul li a { 
        font-size: 16px;
        padding: 8px 15px;

    }

    header  {

        padding: 10px;
    }

    header .logo img {

        height: 250px;
        max-width: 80%;
        width: auto;
    }


    main {

        padding:20px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #history, #assistants {

        padding: 20px;
    }

    #history h1 {

        font-size: 30px;
        margin-bottom: 20px;
    }

    #history h2 {

        font-size: 25px;

    }
     
    #history p {

        font-size: 14px;
        line-height: 1.4;
        padding-left: 10px;
        max-width: 100%;
        margin-top: 10px;
    }

    #assistants h2 {

        font-size: 25px;
    }

    #assistants-note {

        font-size: 16px;
        line-height: 1.4;
        padding-left: 10px;
        margin-top: 10px;

    }

    .report-header {

        font-size: 18px;
        padding-left:10px;
    }
     
    footer {
        background: linear-gradient(90deg, rgba(104,19,113,1) 13%, rgb(16, 39, 77) 51%, rgba(104,19,113,1) 97%);
        width: 100%;
        text-align: center;
        padding: 20px;
        box-sizing: auto;
     }

     footer img {

        width: 100px;
        margin-bottom: 10px;
     }

     footer p {

        font-size: 14px;
        margin: 0;
        max-width: 100;
        padding: 0 10px;
     }
     
    }
    




    body {
        background-color: #172358;
        background-image: url('images/back2.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        min-height: 100vh;
    }


header {
    background: linear-gradient(90deg, rgba(104,19,113,1) 13%, rgb(16, 39, 77) 51%, rgba(104,19,113,1) 97%);
    padding: 15px;
    text-align: center;
}

header .logo img {

    height:350px;
    width:auto;
    max-width: 100%;
    max-height: 100%;
}

nav ul {

    list-style: none;
    margin: 50px;
    padding: 20px;
    display:flex;
    justify-content: center;
    background-color: rgba(211, 27, 211, 0.40);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

nav ul li {

    display: inline-block;
    margin: 10px 0;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
}

nav ul li a {

    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    color: #e8ecec;
    margin: 0 10px;
    padding: 10px 25px;
    position: relative;
    transition: 0.25 ease-in-out; 
}

nav ul li a:hover {

    background: #9755ef;
    box-shadow: 
        0 00 10px #9755ef,
        0 00 20px #9755ef,
        0 00 40px #9755ef,
        0 00 80px #9755ef,
        0 00 100px #9755ef;
    transition: 0.25 ease-in-out;

}


main {

    padding: 60px;
    max-width: 1000px;
    margin:  auto;
}

#history, #assistants {

    background-color: rgba(16, 33, 70, 0.3);
    backdrop-filter: blur(15px);
    width: 100%;
    margin-bottom: 40px;
    max-width: 100%;
    border: 10px solid #9755ef;
    border-radius: 5px;
    box-shadow: 
        0 0 10px #9755ef,
        0 0 20px #9755ef;
    padding: 30px;
    display:flex;
    flex-direction: column;
    align-items: left;
    

}

#history h1 {

    text-align:center;
    color:aliceblue;
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

#history h2 {

    color:aqua;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#history p { 

    color:aliceblue;
    font-family: "Monda", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    flex-grow: 1;
    padding-left: 20px;
    max-width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

}

.report-header{

    color:#dd7eff;
    font-family: "Jersey 10", sans-serif;
    font-size: 35px;
    line-height: 1.5;
    flex-grow: 1;
    padding-left: 20px;
    max-width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}

.assistant-note {

    color:#d2e5e9;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    line-height: 1.5;
    flex-grow: 1;
    padding-left: 20px;
    max-width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

#assistants h2 {

    color:aqua;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.section-image {

    display: block;
    width: 50%;
    max-width: 600px;
    height: auto;
    margin: 20px auto;

}

footer {

    background: linear-gradient(90deg, rgba(104,19,113,1) 13%, rgb(16, 39, 77) 51%, rgba(104,19,113,1) 97%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 footer p {

    color:#fefefe;
    font-size: 16px;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
 }

 footer img {

    height: 150px;
    width: auto;
    max-width: 100%;
    max-height: 100%;


 }